@page {
  size: 210mm 297mm;
  margin: .5mm;
}

@font-face {
  font-family: 'HPSimplified';
  src:
      url('//fonts/subset-HPSimplified-Light.woff') format("woff"),
      url('../fonts/subset-HPSimplified-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

/* общие стили*/


/* внещняя обертка всей страницы*/
.outer {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* основной заголовок страницы */
/* .title__main рамка вокруг заголовка  */
.title__main {
  margin-top: 5mm;
  box-sizing: border-box;
  width: 202mm;
  height: 25mm;
  border: .5px solid gray;
}

.title__main-top {
  padding-top: 4mm;
/*padding-bottom: 4mm;*/
  padding-left: 12mm;
  font-family: HPSimplified;
  font-size: 13.5pt;
/* word-spacing: -0.1em;*/
}

.title__main-bottom {
  padding-top: 6mm;
  padding-left: 12mm;
  font-family: HPSimplified;
  font-size: 13.5pt;
  word-spacing: -0.1em;
}

/* рамка вокруг подзаголовка */
.subtitle__framed {
  box-sizing: border-box; 
  display: inline-block;
  margin-top: 5mm;
  margin-bottom: 5mm;
  margin-left: 20mm;
  width: 165mm;
  height: 9mm;
  border: .5px solid gray;
  padding-top: 3mm;
  padding-left: 3mm;
  font-family: HPSimplified;
  font-size: 7pt;
}

/* inner */
/* контейнер группы строк с подзаголовком */
.inner {
  box-sizing: border-box;
/*  background: #eee; */
  width: 127mm;
  height: 25mm;
  margin-left: 23mm;
}

/* подчеркивание подзаголовка*/
.line__wide {
  box-sizing: border-box;
  width: 127mm;
  border-bottom: .5px solid gray;
}

/* подчеркнутый поздзаголовок */
.title__underlined {
  font-family: HPSimplified;
  font-size: 7pt;
}

/* определяет размеры контейнера для пары параметр-значение*/
.expression {
  box-sizing: border-box;
  width: 117mm;
  height: 5mm;
}

.parameter, .value {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  margin-right: -100%;
  vertical-align: bottom;
  font-family: HPSimplified;
}

.parameter {
  font-size: 7pt;
/*word-spacing: -0.4em;*/
}

.value {
  font-size: 7.5pt;
  text-align: right;
}

/* подгонка значения столбца value*/
.shortnum {
  width: 112.5mm;
}

.shortnum1 {
  width: 111mm;
}