@page {
  size: 21cm 29.7cm;
}

.header {
  margin-top: 9mm;
  width: 203mm;
  height: 25mm;
  border: 1px solid black;
}
.string-top {
  padding-top: 4mm;
  padding-left: 13mm;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

.string-bottom {
  padding-top: 4mm;
  padding-left: 13mm;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

.stamps {
  display: block;
  margin-top: 5mm;
  margin-left: 20mm;
  width: 164mm;
  height: 9mm;
  border: 1px solid black;
  padding-top: 4mm;
  padding-left: 4mm;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
}

.stamps-wrap {
  display: block;
  margin-left: 25mm;
}

.copy {
  display: flex;
  align-items: flex-end;  
  width: 127mm;
  height: 10mm;
  border-bottom:1px solid black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
}

.liner {
  display: flex;
  justify-content: flex-start;
  width: 107mm;
  height: 10mm;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
} 

.value {
  display: flex;
  justify-content: flex-start;
  width: 20mm;
  height: 10mm;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
} 