@page {
  size: 210mm 297mm;
  margin: 1mm;
}

.string-top, .string-bottom {
  padding-top: 4mm;
 // padding-bottom: 4mm;
  padding-left: 12mm;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13.5pt;
  //word-spacing: -0.4em;
  font-weight: 100 !important;
}

.string-bottom {
  padding-top: 6mm;
}

.outer {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.title-main {
  margin-top: 5mm;
  box-sizing: border-box;
  width: 203mm;
  height: 25mm;
  border: .5px solid gray;
}

.title-frame {
  box-sizing: border-box; 
  display: inline-block;
  margin-top: 5mm;
  margin-bottom: 5mm;
  margin-left: 20mm;
  width: 165mm;
  height: 9mm;
  border: .5px solid gray;
  padding-top: 3mm;
  padding-left: 3mm;
  font-family: 'Arial','Helvetica',sans-serif;
  font-size: 7pt;

}
.inner {
  box-sizing: border-box;
  background: #eee;
  width: 127mm;
  height: 25mm;
  margin-left: 23mm;
}
.wrap-wide {
  box-sizing: border-box;
  width: 127mm;
  border-bottom: .5px solid gray;
}

.title-underlined {
  font-family: 'Arial','Helvetica',sans-serif;
  font-size: 7pt;
}
.wrap {
  box-sizing: border-box;
  width: 117mm;
  //background: #eee;
  height: 5mm;
}

.left, .right {
  box-sizing: border-box;
  display: inline-block;
  //display: inline;
  //zoom: 1;
  width: 100%;
  margin-right: -100%;
  vertical-align: bottom;
  font-family: 'Arial','Helvetica',sans-serif;

}

.left {
  font-size: 7pt;
//  word-spacing: -0.4em;
}
.right {
 
  font-size: 7.5pt;
  text-align: right;
}

.shortnum {
  width: 112.5mm;
}

.shortnum1 {
  width: 111mm;
}